.intro-lead-in p,
.intro-heading,
li.nav-item a {
  text-shadow: 2px 2px 1px #333;
}

section#contact {
  background-image: none;
  background-color: transparent;
}

section#contact .section-heading {
  color: #333 !important;
}

#footer {
  background-color: #212529 !important;
  color: #fff;
}

#services .row {
  justify-content: center;

}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}
