.intro-lead-in p,
.intro-heading,
li.nav-item a {
  text-shadow: 2px 2px 1px #333;
}

section#contact {
  background-image: none;
  background-color: transparent;
}

section#contact .section-heading {
  color: #333 !important;
}

#footer {
  background-color: #212529 !important;
  color: #fff;
}
